body {
	font:normal 20px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	margin:0;
	color:#333;
	background-color: #fff;
	border-top:0.4em solid #512DA8;
}
h1 {
	text-align:center;
	font-weight:300;
	font-size:3.4em;
	margin:0;
}
header {
    top: 0;
    width: 100%;
    height: 200px;
	background-color: #673AB7;
	z-index: -1;
}
h1 {
	color: #fff;
}

:focus {
	border: 1px solid rgb(108, 187, 252);
}
#container {
	margin-top: -100px;
	margin-bottom: 2em;
	flex-wrap: wrap;
}
#left-half {
    background-color: white;
    border-radius: 2px;
	max-width: 50%;
	-webkit-flex: 1;
    -ms-flex: 1;
	flex: 1;
	margin: 1em;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
       -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}
#right-half {
    background-color: white;
    border-radius: 2px;
	min-width: 250px;
	-webkit-flex: 1;
    -ms-flex: 1;
	flex: 1;
	margin: 1em;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
       -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.37);
}
input, select, button {
	font-size: .85em;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#submit, button {display: inline-block;
	color: white;
	text-transform: uppercase;
	height: 40px;
	border-radius: 0;
	margin: 1em 0;
	border: none;
}
input[type=submit]{
	-webkit-border-radius:2px;
	width: 200px;
	background-color: #448AFF;
}
button[type=button]{
	width: 350px;
	background-color: #448AFF;
}
input[type="radio"] {
	margin: 10px 3px 0px 5px;
}
@media only screen and (max-width: 850px) {
	h1{
		font-size: 2.25em;
	}
	#left-half {
		min-width: 80%;
		max-width: 90%;
	}
	button[type=button]{
		width: 300px;
	}
}
form, div {
	display: flex;
	flex-direction: column;
}
#types {
	flex-direction: row;
	margin: 0.5em 0;
}
.block {
  flex-direction: row;
  width:200px;
}
#comment {
	background-color:#D1C4E9;
	margin:0.3em 0;
	padding:0.5em;
}
#comment:empty {
	display:none;
}
#container {
	display: flex;
}
#left-half {
	flex: 1;
	padding: 1em;
}
#right-half {
	flex: 1;
	padding: 1em;
}
.separator {
  	background-color: #D1C4E9;
}
footer {
  	position: fixed;
 	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
	font-weight: 100;
	font-size: 0.8em;
	background: #757575;
}
.invalidated {
	background-color:#ffe6e6;
}
.result {
	word-break:break-all;
	flex-wrap:wrap;
	flex-direction: row;
	color:#ссс;
}
.result.last {
	color:#1e1e1e;
}
span {
	margin-left: auto;
}
a {
	color: #ccc;
	display:inline-block;
	text-decoration:none;
	transition:color .2s,border-bottom-color .2s;
	border-bottom:2px solid #9370DB;
}
a:hover {
	border-bottom-color:#673AB7;
}
